#traffic-light {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem;
}

    #red-light.active {
        background-color: red;
    }

    #yellow-light.active {
        background-color: yellow;
    }

    #green-light.active {
        background-color: green;
    }

.light {
    width: 5rem;
    height: 5rem;
    border: solid lightgray 1px;
    border-radius: 50%;
}